

<h1>Sign up</h1>

<form action= "/users/create" method="POST">
<input type="text" name ="name" placeholder="Your Name" reqiured>
<input type="email" name ="email" placeholder="Your EMail-Id" reqiured>
<input type="password" name ="password" placeholder="Your Password" reqiured>
<input type="password" name ="confirm_password" placeholder="Confirm Password" reqiured>
<input type="submit" value="Sign Up">
</form>


